.bg-html {
    background-color: #FF0000;
}

.bg-css {
    background-color: #264de4;
}

.bg-js {
    background-color: #f0db4f;
}

.bg-react {
    background-color: #61dbfb;
}

.bg-node {
    background-color: #68A063;
}

.bg-java {
    background-color: #f89820;
}

.bg-bootstrap {
    background-color: #563d7c;
}

.bg-api {
    background-color: #1C416D;
}

.bg-android {
    background-color: #3DDC84;
}

.bg-firebase {
    background-color: #FFA611;
}